<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Story 6</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h1 style="color: blue">Hello apa kabar?</h1>
<form action="/lab-6/" method="post">
    {% csrf_token %}
    {{ form }}
    <input id="submit" type="submit" value="Submit" class="btn btn-primary">
</form>
<br>
{% if statues %}
    {% for status in statues %}
{#        <span class="badge">Reply</span><br>#}
        <p style="color: green">{{ status.title }}
        <span class="badge badge-secondary">New</span>
        </p>
        <br>
    {% endfor %}
{% endif %}
</body>
</html>
